In [3]:
# Dependencies
import requests
import pandas as pd

# File to Load
path_19 = "data/2019.csv"

# Read the modified Comic Books csv and store into Pandas DataFrame
C19 = pd.read_csv(path_19, encoding="utf-8")

C19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [9]:
# Convert to DataFrame
csv_2019_df = pd.DataFrame(C19)

# Column renaming
csv_2019_df = csv_2019_df.rename(
    columns = {
        "Country or region": "Country",
        "Overall rank": "Happiness_Rank",
        "GDP per capita": "Economy_GDP",
        "Healthy life expectancy": "Life_Expectancy",
        "Freedom to make life choices": "Freedom",
        "Perceptions of corruption": "Trust_in_Gov",
        "Score": "Happiness_Score",
        "Generosity": "Generosity"
    }
)

csv_2019_df.head()

,Happiness_Rank,Country,Happiness_Score,Economy_GDP,Social support,Life_Expectancy,Freedom,Generosity,Trust_in_Gov
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [21]:
# Add a Year and any missing columns
csv_2019_df.loc[:,"Year"] = "2019"
csv_2019_df.loc[:,"Region"] = "nan"
csv_2019_df.loc[:,"Family"] = "nan"
csv_2019_df.loc[:,"Dystopia_Residual"] = "nan"


# Configure the final DataFrame
csv_2019_df = csv_2019_df[[
        "Country",
        "Region",
        "Happiness_Rank",
        "Happiness_Score",
        "Economy_GDP",
        "Family",
        "Life_Expectancy",
        "Freedom",
        "Trust_in_Gov",
        "Generosity",
        "Dystopia_Residual",
        "Year"
]]


# Display DataFrame length and sample data
csv_2019_df.head()

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Finland,nan,1,7.769,1.340,nan,0.986,0.596,0.393,0.153,nan,2019
1,Denmark,nan,2,7.600,1.383,nan,0.996,0.592,0.410,0.252,nan,2019
2,Norway,nan,3,7.554,1.488,nan,1.028,0.603,0.341,0.271,nan,2019
3,Iceland,nan,4,7.494,1.380,nan,1.026,0.591,0.118,0.354,nan,2019
4,Netherlands,nan,5,7.488,1.396,nan,0.999,0.557,0.298,0.322,nan,2019

In [22]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
csv_2019_df.to_csv("data/csv_2019_clean.csv", encoding="utf-8", index=False)